/* Header index */




.header {
    list-style-type: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 15px #737374;
    border-radius: 10px;

    .te {
        width: 35px;
        margin-left: 15px;
        margin-right: 8px;
    }

    .logo {
        width: 200px;
        margin-left: 15px;
    }

    .correo {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        margin: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .twitter {
        background-color: #1c97df;
        padding: 5px;
        margin: 10px;
        display: inline-block;
        border-radius: 10px;
    }

    .instagram {
        background-color: #e94986;
        padding: 5px;
        margin: 10px;
        display: inline-block;
        border-radius: 10px;
    }

    .facebook {
        background-color: #7171e9;
        padding: 5px;
        margin: 10px;
        display: inline-block;
        border-radius: 10px;
    }
}

.header a {
    text-decoration: none;
    color: #23252a;
}

.header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header-hijo div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.nav-header li{
    text-align: center;
  }
  

.nav-link:hover {
    background-color: #def1eb;
    border-radius: 12px;
}


.nav-header li:hover {
    color: blanchedalmond;
}

.correo:hover {
    color: blanchedalmond;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}


@media (max-width:838px) {
    .header-hijo div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}